.header {
  display: flex;
  width: 90%;
  margin: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .nav-link {
    color: #353535;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .actions-menu {
    width: 10rem;

    .action-item {
      text-decoration: none;

      a {
        text-decoration: none;
      }
    }
  }

  .app-actions-list {
    display: none;
  }
}

@media (min-width: 40rem) {
  .action-menu {
    display: none;
  }

  .header .app-actions-list {
    display: flex;

    .app-action-item {
      width: 9rem;
      margin: 0 0.5rem 0 0.5rem;
      cursor: pointer;
      color: #090909;
      border-radius: 0.5em;
      border: 1px solid #e8e8e8;
      transition: all 0.3s;
      box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

      &:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
      }

      &.logout {
        background-color: #e27373;
        border: none;
      }
    }
  }
}
