<div class="header">
  <div class="category-menu">
    <button mat-stroked-button [matMenuTriggerFor]="menu">
      <span>
        <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
      </span>
    </button>
    <mat-menu class="categories-menu" #menu="matMenu">
      <ul class="category-list">
        <li class="category-item" mat-menu-item *ngFor="let category of categories">
          {{ category.title }}
        </li>
      </ul>
    </mat-menu>
  </div>

  <a class="nav-link" href="" routerLink="/home">מתכוני פפוי</a>
</div>
