<div class="edit-form-wrap">
  <form [formGroup]="recipeForm">
    <div class="form-inputs">
      <mat-form-field appearance="outline">
        <mat-label>שם המנה</mat-label>
        <input
          formControlName="recipeName"
          id="recipeName"
          matInput
          required
          type="text"
        />
      </mat-form-field>
      <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="fileInput.click()"
      >
        הוסף תמונה
      </button>
      <input
        hidden
        (change)="handleFileInput($event)"
        #fileInput
        type="file"
        id="file"
      />
      <br />
      <p>ingredients</p>
      <div formArrayName="ingredients-section">
        <div
          class="row"
          *ngFor="let ingredientCtrl of controls; let i = index"
          style="margin-top: 10px"
        >
          <div class="col-xs-8">
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="col-xs-2">
            <input
              type="number"
              class="form-control"
              formControlName="amount"
            />
          </div>
          <!--          <mat-form-field appearance="outline">-->
          <!--            <mat-label>רכיבים</mat-label>-->
          <!--            <input-->
          <!--              [formControlName]="i"-->
          <!--              id="ingredients"-->
          <!--              matInput-->
          <!--              type="text"-->
          <!--            />-->
          <!--          </mat-form-field>-->
        </div>
      </div>
    </div>
  </form>
</div>
