.edit-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
  height: 100%;

  .form-inputs {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: auto;
  }
}
