.edit-form-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  height: 100%;

  .edit-form-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 80vw;
    height: 75vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    opacity: 0.8;

    .stepper-wrap {
      overflow-y: auto;
      max-height: 60vh;
    }

    .form-inputs {
      display: flex;
      flex-direction: column;
    }

    p {
      margin: auto;
    }

    .ingredients-tab,
    .prep-steps {
      display: flex;
      flex-direction: column;
    }

    .recipe-form-buttons {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin: 1rem 0 0 0;
      flex-direction: row;
    }
  }
}
