.recipes-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 85vh;

  .categories-title {
    margin: 1.5rem 0 1.5rem 0;
  }

  .categories-recipes-list {
  }
}

@media (min-width: 40rem) {
  .recipes-wrap {
    width: 100%;
    display: flex;
  }
  .categories-recipes-list {
    flex-direction: row;
    width: 80vw;
    height: 100vh;
  }
}
