.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.login-page > .spinner {
  display: flex;
  text-align: center;
  position: absolute;
}

.form-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0.8;

  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 40% 0 50% 0;

    .form-title {
      margin-bottom: 2rem;
    }

    .form-inputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 20%;
    }

    .signup-buttons {
      display: flex;
      justify-content: space-between;

      .login-button {
        width: 6rem;
      }
    }
  }
}

@media (min-width: 40rem) {
  .form-container {
    max-width: 50%;
  }
}
