.main-header {
  display: flex;
  height: 3.75rem;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-wrap {
  display: flex;
  background: url('../assets/images/login_background.jpg') center/cover no-repeat border-box;
  height: 100%;
  width: 100%;
  flex-direction: column;
  margin: 0;

  &.app-wrap-login {
    background: url('../assets/images/login_background.jpg') center/cover no-repeat border-box;
    height: 100%;
    width: 100%;
  }
}
