.category-wrap {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 80vw;
  margin: 3rem auto;
  height: 75vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  opacity: 0.8;

  .recipes-list-card {
    height: 100%;
  }
}
